@font-face {
    font-family: "Gloock-Regular";
    src: url("../assets/Fonts/Gloock/Gloock-Regular.ttf");
}

@font-face {
    font-family:"Inconsolata-VariableFont_wdth,wght";
    src: url("../assets/Fonts/Inconsolata/");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    background-color: var(--background-navy-color,#0259a1);
    height: 7vh;
    width: 80%;
    margin: 0 auto;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;

}

.logoPerrito{
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.tituloPrincipal{
    background-color: aliceblue;
    font-family: 'Gloock', serif;
}

.listaNavegacion{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;  
    list-style: none;
    margin-right: 1rem;
}

.header listaNavegacion linkNav{
    display: flex;
    justify-content:flex-end;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

/*.Main{
    background-color: red;
    border: 3px solid rgb(149, 137, 137);
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.miembros{
    background-color: rgb(126, 126, 126);
    border: 3px solid rgb(4, 3, 3);
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;


}

.miembro{
    width: 20%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: coral;
    border: 1px solid black;
    height: 50vh;
    width: 40%;
    margin: 0 auto;
    display: flex; /*las cajas se acomodan una al lado de la otra*/
    /*flex-direction: row;/*row, me lo deja en linea o podemos poner "column" */
        /* inline- flex con esto logramos que los elemenos sean flexibles (con respecto a sus hijos) y en bloque*/
    /*flex-wrap: column;
    align-items: center; /*cuando el contenedor es una fila, justifica en el eje vertical(column).*/
    /*justify-content: center; /*cuando el contenedor es una columna, justifica en el eje horizontal(wrap).*//* otros tipos de centrar: space-around, space-between, space-evenly, center, flex-end, flex-start*/
    /*si quiero centrar completamente sin importar el sentido del contenedor uso*/
    /*justify-content: center;*/
    /*si quiero centrar verticamente*/
    /*align-items: center;*/
    
}

.miembro img{
    height: 100%;
    width: 100%;
    object-fit: cover; /*object-fit: cover; //para que la imagen se adapte al tamaño de la caja*/
    flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que puedo*/
    /*opacity: 0.5;*/
    transition: 0.1s ease;
}

.miembro img:hover{
    width: 30%;
    opacity: 1;
    filter: contrast(120%)
}

@media screen and (max-width: 768px){
    miembro{
        flex-wrap: wrap;
    }
    miembro img{
        height: 80%;
    }

    miembro img:hover{
        background-color: black;
        width: 70%;
    }

} 
/*.miembro{
    background-color: red;
    border: 0px solid black;
    width: 50%;
    height: 50%;
    object-fit: cover;
    /*width: 200px;
    height: 50%;*/
    /*orde: -1; una forma de ordenar un hijo en particular
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/


.articleIndex{
    background-color: rgb(49, 146, 146);
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-size: medium;
    width: 140vh;
    margin: 0 auto;
}

.tipografia1{
    font-family: 'Gloock-Regular', serif;
    height: 10rem;
    font-weight: 400;
    line-height: 1.5;
}

.enlaces{
    background-color: var(--background-navy-color,#0259a1);
    width: 140vh;
    margin: 1px auto;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
    line-height: 30px;
    width: 10 px;
}

.todoslosderechos{
    display: flex;
    flex-direction: center;
    justify-content: center;
}

/* Pongo medias queries que adapten los componentes y estilados a una version mobile */
/* celular: 0px a 768px
tablet: 769px a 1024px
escritorio notbook: 1025px a 1400px
escritorio pc: 1401px */
/* En las versiones mobile, es recomendable usar en auto casi todo. */

@media screen and (max-width: 768px){
    .contenedorGrid{

        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: "header"
                                "nav"
                                "main"
                                "aside"
                                "footer";
        row-gap: 10px; /* Si quiero que los contenidos esten separados*/
        /* column-gap: ; tambien se puede usar, pero no tiene sentido en este caso */
    }
}

/* @ = condicional */

/*Estamos pidiendo dos condiciones:
                                    Que sea una una pantalla
                                    Que sea como maximo 758 px esta pantalla  */


/* Esta es la media querie para una tablet en un diseño de desktop first */

/* @media screen and (min-width: 769px) and (max-width_ 1024px) {
    .contenedorGrid{
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: "header header"
                                "nav main"
                                "nav aside"
                                "footer footer";
        row-gap: 10px;
    }
    
} */

/* mobile first tablet */
/* @media screen and (min-width: 768px) and (max-width_ 1024px){ 
    
}*/



/* mobile first escritorio */
/* @media screen and (min-width: 1024px){ 
    
}*/