@charset "UTF-8";
.GaleriaGrid {
  /* background-color: rgb(181, 181, 181); */
  /* border: 3px solid rgb(4, 3, 3); */
  width: 80%;
  height: 6.8vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  /* row-gap: 10px; */
  grid-template-areas: "header" "main" "footer";
}

.HeaderGaleria {
  background-color: var(--background-navy-color, #0259a1);
  height: 6.8vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  /*position: sticky;
  top: 0px;*/ /* display: flex no me funciono hasta que coloque el top */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.Main {
  background-color: rgb(181, 181, 181);
  border: 3px solid rgb(4, 3, 3);
  width: 80%;
  margin: 7px auto;
  height: auto;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1 fr 1fr; */
  /* row-gap: 10px; */
  /* grid-template-areas: "section . ."
                      "div"
                      "div" */
  /* display: flex; */
}

.miembroGaleria { /*ContenedorCard*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  grid-template-areas: "div div div"
                          "div""div" */
}

.miembroPerrito { /*Card*/
  width: 30%;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  /* align-items: left;
  align-content: left;
  justify-content: left; */
  /* text-align: justify; */
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 0 auto;
}

.tipografiaGaleria {
  font-family: "RobotoSlab-VariableFont_wght";
  height: auto;
  width: 80%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-content: center;
  margin: 0 auto;
}

.miembroPerrito img {
  /* display: flex; */
  height: 80%;
  width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
}

.miembroPerrito {
  /* position: relative; */
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroPerrito:before {
  content: "Perrito";
  position: absolute;
  /* top: auto;
  bottom:auto;
  left: auto;
  right:auto;  */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
  background-color: rgb(219, 146, 179);
  transform: scaleY(0);
  transition: transform 0.4s;
  color: white;
  display: block;
  /* justify-content: center;
  align-items: center; */
  font-size: 3rem;
}

.miembroPerrito:hover:before {
  transform: scaleY(1);
}

.miembroPerrito {
  grid-area: auto;
}

.miembroGato {
  /* position: relative; */
  cursor: pointer;
}

.miembroGato {
  width: 30%;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 0 auto;
}

.miembroGato img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1000%;
  width: 70%;
  -o-object-fit: cover;
  object-fit: cover;
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 2px;
}

.miembroGato:before {
  content: "Diana";
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 2px;
  background-color: rgb(181, 127, 152);
  transform: scaleY(0);
  transition: transform 0.4s;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.miembroGato:hover:before {
  transform: scaleY(1);
}

.miembroGato {
  grid-area: auto;
}

.miembroVaca {
  width: 30%;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  /* align-items: left;
  align-content: left;
  justify-content: left; */
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 0 auto;
}

.miembroVaca img {
  /* display: flex; */
  height: 80%;
  width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 2px;
}

.miembroVaca {
  /* position: relative; */
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  /* overflow:hidden; */
}

.miembroVaca:before {
  content: "Vaca";
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 2px;
  background-color: rgb(181, 127, 152);
  transform: scaleY(0);
  transition: transform 0.4s;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.miembroVaca:hover:before {
  transform: scaleY(1);
}

.miembroVaca {
  grid-area: auto;
}

.miembroCarpincho { /*Card*/
  width: 30%;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  /* align-items: left;
  align-content: left;
  justify-content: left; */
  /* text-align: justify; */
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 0 auto;
}

.miembroCarpincho img {
  /* display: flex; */
  height: 80%;
  width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
}

.miembroCarpincho {
  /* position: relative; */
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroCarpincho:before {
  content: "Carpi";
  position: absolute;
  /* top: auto;
  bottom:auto;
  left: auto;
  right:auto;  */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
  background-color: rgb(219, 146, 179);
  transform: scaleY(0);
  transition: transform 0.4s;
  color: white;
  display: block;
  /* justify-content: center;
  align-items: center; */
  font-size: 3rem;
}

.miembroCarpincho:hover:before {
  transform: scaleY(1);
}

.miembroCarpincho {
  grid-area: auto;
}

.miembroCusco { /*Card*/
  width: 30%;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  /* align-items: left;
  align-content: left;
  justify-content: left; */
  /* text-align: justify; */
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 0 auto;
}

.miembroCusco img {
  /* display: flex; */
  height: 80%;
  width: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
}

.miembroCusco {
  /* position: relative; */
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroCusco:before {
  content: "Cusco";
  position: absolute;
  /* top: auto;
  bottom:auto;
  left: auto;
  right:auto;  */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
  background-color: rgb(219, 146, 179);
  transform: scaleY(0);
  transition: transform 0.4s;
  color: white;
  display: block;
  /* justify-content: center;
  align-items: center; */
  font-size: 3rem;
}

.miembroCusco:hover:before {
  transform: scaleY(1);
}

.miembroCusco {
  grid-area: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gloock-Regular";
  src: url("../assets/Fonts/Gloock/Gloock-Regular.ttf");
}
@font-face {
  font-family: "Inconsolata-VariableFont_wdth,wght";
  src: url("../assets/Fonts/Inconsolata/");
}
@font-face {
  font-family: "RobotoSlab-VariableFont_wght";
  src: url("../assets/Fonts/Roboto_Slab/");
}
@font-face {
  font-family: "Rubik-Italic-VariableFont_wght";
  src: url("../assets/Fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf");
}
.Header {
  background-color: var(--background-navy-color, #0259a1);
  height: 6.8vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  /*position: sticky;
  top: 0px;*/ /* display: flex no me funciono hasta que coloque el top */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.logoPerrito {
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}

.TituloPrincipal {
  background-color: none;
  font-family: "Gloock-Regular";
  font-size: 35px;
}

.listaNavegacion {
  width: 19vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  list-style: none;
  margin-right: 2rem;
  text-decoration: none;
  height: auto;
}

.linkNav {
  display: flex;
  justify-content: left;
  color: black;
  text-decoration: none;
  font-size: 22px;
  margin-right: 10px;
}

.miembros {
  background-color: rgb(126, 126, 126);
  border: 3px solid rgb(4, 3, 3);
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin-top: 10px;
}

.miembro {
  width: 20%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik-Italic-VariableFont_wght";
  font-size: 30px;
  /*background-color: coral;
  border: 1px solid black;
  height: 50vh;
  width: 40%;
  margin: 0 auto;
  display: flex; /*las cajas se acomodan una al lado de la otra*/
  /*flex-direction: row;/*row, me lo deja en linea o podemos poner "column" */
  /* inline- flex con esto logramos que los elemenos sean flexibles (con respecto a sus hijos) y en bloque*/
  /*flex-wrap: column;
  align-items: center; /*cuando el contenedor es una fila, justifica en el eje vertical(column).*/
  /*justify-content: center; /*cuando el contenedor es una columna, justifica en el eje horizontal(wrap).*/ /* otros tipos de centrar: space-around, space-between, space-evenly, center, flex-end, flex-start*/
  /*si quiero centrar completamente sin importar el sentido del contenedor uso*/
  /*justify-content: center;*/
  /*si quiero centrar verticamente*/
  /*align-items: center;*/
}

.miembro img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; /*object-fit: cover; //para que la imagen se adapte al tamaño de la caja*/
  flex-grow: 1; /*que dentro de la caja flexible ocupe todo el espacio que puedo*/
  opacity: 0.85;
  transition: 0.1s ease;
  font-size: 30px;
}

.miembro img:hover {
  width: 30%;
  opacity: 1;
  filter: contrast(120%);
}

@media screen and (max-width: 768px) {
  miembro {
    flex-wrap: wrap;
  }
  miembro img {
    height: 80%;
  }
  miembro img:hover {
    background-color: black;
    width: 70%;
  }
}
.articleIndex {
  background-color: rgb(49, 146, 146);
  font-weight: 500px;
  line-height: 1.5;
  text-align: justify;
  width: 80%;
  height: auto;
  margin: 10px auto;
}

.tipografia1 {
  font-family: "Gloock-Regular", serif;
  height: auto;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
}

.tipografiaParrafo {
  font-size: 20px;
  font-family: "RobotoSlab-VariableFont_wght";
  margin-bottom: 10px;
}

/*.Main{
    background-color: red;
    border: 3px solid rgb(149, 137, 137);
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/* Pongo medias queries que adapten los componentes y estilados a una version mobile */
/* celular: 0px a 768px
tablet: 769px a 1024px
escritorio notbook: 1025px a 1400px
escritorio pc: 1401px */
/* En las versiones mobile, es recomendable usar en auto casi todo. */
/* 
@media screen and (max-width: 768px){
    .contenedorGrid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: "header"
                                "nav"
                                "main"
                                "aside"
                                "footer";
        row-gap: 10px; /* Si quiero que los contenidos esten separados*/
/* column-gap: ; tambien se puede usar, pero no tiene sentido en este caso 
    }
}*/
/* @ = condicional */
/*Estamos pidiendo dos condiciones:
                                    Que sea una una pantalla
                                    Que sea como maximo 758 px esta pantalla  */
/* Esta es la media querie para una tablet en un diseño de desktop first */
/* @media screen and (min-width: 769px) and (max-width_ 1024px) {
    .contenedorGrid{
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: "header header"
                                "nav main"
                                "nav aside"
                                "footer footer";
        row-gap: 10px;
    }

} */
/* mobile first tablet */
/* @media screen and (min-width: 768px) and (max-width_ 1024px){ 

}*/
/* mobile first escritorio */
/* @media screen and (min-width: 1024px){ 

}*/
.enlaces {
  background-color: var(--background-navy-color, #0259a1);
  background-color: rgb(176, 63, 63);
  width: 80%;
  height: auto;
  margin: 10px auto;
}

.iconos {
  background-color: rgb(186, 218, 246);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 120%;
}

.icon {
  display: inline-block; /*Makes the icons inline block level elements. This will let us animate the transform property.*/
  font-size: 44px;
  animation: float infinite 2s ease-in-out;
  /*Applies the float keyframe animation over 5s and makes it run infinitely.*/
  /*  
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 5s;*/
}

/*
    The following styles will add linear gradient background to the text then it will clip the text shape into the background.
    The result is gradient text.
    */
.ri-instagram-line {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* This is the first item so no animation delay needed.*/
}

.ri-facebook-circle-line {
  color: #1877f2;
  animation-delay: 0.5s; /*Adds a animation delay of 1 seconds.*/
}

.ri-youtube-fill {
  color: #25d366;
  animation-delay: 1s; /*Adds a animation delay of 2 seconds.*/
}

@keyframes float {
  0% {
    transform: translateY(0); /*The starting point of the animation is 0.*/
  }
  50% {
    transform: translateY(-13px); /*The middle point of the animation is -15xp. This will move the element up.*/
  }
  100% {
    transform: translateY(0); /*The last point of the animation is going back to the starting state of 0.*/
  }
}
.todoslosderechos {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* font-size: medium; */
}

.mainTerapias {
  /* background-color: rgb($color-maingeneral);
  border: 3px solid rgb(4, 3, 3);
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around; */
  background-color: rgb(181, 181, 181);
  border: 3px solid rgb(4, 3, 3);
  width: 80%;
  height: auto;
  margin: 10px auto;
  display: flex; /* display: grid te proporciona una cuadrícula de una sola columna, por lo que tus elementos continúan mostrándose uno debajo del otro, como lo hacen en el flujo normal. display: flex trabaja en una dimension y display: grid trabaja en 2 dimensiones */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.tiposTerapia {
  background-color: none;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  width: 90%;
  margin: 2rem auto;
}

.videoTerapia {
  display: flex;
  flex-direction: column;
}

.Listado {
  margin-left: 2rem;
}

.img.obj {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
} 

/*# sourceMappingURL=estilos.css.map */
