.GaleriaGrid{
  /* background-color: rgb(181, 181, 181); */
  /* border: 3px solid rgb(4, 3, 3); */
  // width: 100%;
  // height: 6.8vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  /* row-gap: 10px; */
  margin-bottom: 10px;
  grid-template-areas: "header"
                       "main"
                       "footer";
  
  .HeaderGaleria{
  background-color: map-get($colores,color-headergeneral);
  height: 6.7vh;
  width: 80%;
  margin: 0 auto;
  display: flex; 
  /*position: sticky;
  top: 0px;*/ /* display: flex no me funciono hasta que coloque el top */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: $borde-10px;
  -webkit-border-radius: $borde-10px;
  -moz-border-radius: $borde-10px;
    .logoPerritoG{
      border-radius: $borde-10px;
      -webkit-border-radius: $borde-10px;
      -moz-border-radius: $borde-10px;
    }
  
    .TituloPrincipalG{
      background-color: none;
      font-family: $tipografia-glock;
      font-size: 22px;
    }
    .listaNavegacionG{
      width: 19vw;
      // height: 19vh;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      align-content: center; 
      justify-content: right; 
      list-style: none;
      // margin: 10rem;
      text-decoration: none;
      // height: auto;
      scale: (1.05);
      
    
      .linkNavG{
        display: block;
        justify-content:left;
        color: black;
        // text-decoration: none;
        // font-size: 18px;
        margin-right: 12px;
    
        .linkG{
          display: inline-block;
          margin-block: 2px;
          text-decoration: none;
          color:#030303;
          position: relative;
          margin-top:10px;
          font-size: 1.5rem;
        }
        .linkG::after{
          content: '';
          width: 100%;
          height:1px;
          // background-color: #fff;
          border-radius:4px;
          position: absolute;
          left: 0;
          bottom: 0;
          transform:scaleX(0);
          transform-origin: left;
          transition: transform .25s ease;
        }
        
        .linkG:hover::after{
            transform:scaleX(1);
        }
        
        
      }
    }
  }
}

















.Main{
  background-color: rgb(181, 181, 181);
  border: 3px solid rgb(4, 3, 3);
  width: 80%;
  margin: 10px auto;
  height: auto;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1 fr 1fr; */
  /* row-gap: 10px; */
  /* grid-template-areas: "section . ."
                      "div"
                      "div" */
  /* display: flex; */
  border-radius: $borde-10px;
    -webkit-border-radius: $borde-10px;
    -moz-border-radius: $borde-10px;
}



.miembroGaleria{ /*ContenedorCard*/
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  grid-template-areas: "div div div"
                          "div""div" */
} 

.tipografiaGaleriaG{
  font-family: "RobotoSlab-VariableFont_wght";
  height: auto;
  width: 80%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  // justify-content:center;
  // align-items: center;
  // align-content: center;
  // align-content: left;
  text-align: justify;
  margin: 0 auto;
}

.miembroPerrito{ /*Card*/
  width: 30%;
  background-color: white;
  box-shadow: 0 10px 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  align-content: center;
  justify-content:center;
  text-align: center;
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  // margin: 0 auto;
  margin: 10px auto
}




.miembroPerrito img{ 
  /* display: flex; */
  height: 90%;
  width: 100%; 
  object-fit: cover; 
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1; 
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
  // margin-top: 10px;

}

.miembroPerrito{
  position: relative;
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroPerrito:before{
  content: "Perrito";
  position: absolute;
  top:auto;
  bottom:auto;
  left: auto;
  right:auto;
  
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
  background-color: rgb(219, 146, 179);
  transform:scaleY(0);
  transition: transform .4s;
  color: white;
  display: block;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  font-size: 3rem ;
}

.miembroPerrito:hover:before{
  transform: scaleY(1);
}

.miembroPerrito{
  grid-area:auto; 
}


.miembroPerrito{
  /* position: relative; */
  cursor: pointer;
}
.miembroGato{
  width: 30%;
  background-color: white;
  box-shadow: 0 10px 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  align-content: center;
  justify-content: center;
  text-align: center;
  // text-align: center;
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 5px auto
}

.miembroGato img{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 80%; 
  object-fit: cover; 
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1; 
  text-align: center;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 2px; 
  margin: 10px auto;
}

.miembroGato:before{
  content: "Diana";
  position: absolute;
  top:1.7%;
  bottom:auto;
  left: 10.3%;
  right:auto; 
  
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 2px; 
  background-color: rgb(181, 127, 152);
  transform:scaleY(0);
  transition: transform .4s;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 3rem ;
}

.miembroGato:hover:before{
  transform: scaleY(1);
}

.miembroGato{
  grid-area:auto; 
}


.miembroGato{
  position: relative;
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroVaca{
  width: 30%;
  background-color: white;
  box-shadow: 0 10px 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  /* align-items: left;
  align-content: left;
  justify-content: left; */
  text-align: center;
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 10px auto;

}

.miembroVaca img{ 
  /* display: flex; */
  height: 80%;
  width: 90%; 
  object-fit: cover; 
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1; 
  margin-top: 10px;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 2px; 
}
.miembroVaca{
  position: relative;
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroVaca:before{
  content: "Vaca";
  position: absolute;
  top: 1.7%;
  bottom:auto;
  left: 5.3%;
  right:auto; 
  
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  padding: 2px; 
  background-color: rgb(181, 127, 152);
  transform:scaleY(0);
  transition: transform .4s;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 3rem ;
}

.miembroVaca:hover:before{
  transform: scaleY(1);
}

.miembroVaca{
  grid-area:auto; 
}


.miembroVaca{
  position: relative;
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroCarpincho{ /*Card*/
  width: 30%;
  background-color: white;
  box-shadow: 0 10px 10px black;
  border-radius: 10px;
  border: 1px solid wheat;
  /* align-items: left;
  align-content: left;
  justify-content: left; */
  text-align: center;
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 10px auto;
}



.miembroCarpincho img{ 
  /* display: flex; */
  height: 80%;
  width: 90%; 
  object-fit: cover; 
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1; 
  margin-top: 10px;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
}

.miembroCarpincho{
  position: relative;
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroCarpincho:before{
  content: "Carpi";
  position: absolute;
  top: 1.7%;
  bottom:auto;
  left: 5%;
  right:auto;
  
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
  background-color: rgb(219, 146, 179);
  transform:scaleY(0);
  transition: transform .4s;
  color: white;
  display: block;
  /* justify-content: center;
  align-items: center; */
  font-size: 3rem ;
}

.miembroCarpincho:hover:before{
  transform: scaleY(1);
}

.miembroCarpincho{
  grid-area:auto; 
}


.miembroCarpincho{
  position: relative;
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}
.miembroCusco{ /*Card*/
  width: 30%;
  background-color: rgb(215, 203, 192);
  box-shadow: 0 10px 20px black;
  border-radius: 10px;
  border: 1px solid wheat;
  /* align-items: left;
  align-content: left;
  justify-content: left; */
  text-align: center;
  height: 100%;
  font-family: "RobotoSlab-VariableFont_wght";
  font-size: 20px;
  margin: 10px auto;
  
}


.miembroCusco img{ 
  /* display: flex; */
  // height: 70%;
  width: 70%; 
  object-fit: cover; 
  /*/para que la imagen se adapte al tamaño de la caja y no se deforme */
  flex-grow: 1; 
  margin-top: 10px;
  /* que dentro de la caja flexible ocupe todo el espacio que puedo */
  /* font-size: 30px;
  /* border: 3px solid rgb(4, 3, 3); */
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
}

.miembroCusco{
  position: relative;
  cursor: pointer;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;
}

.miembroCusco:before{
  content: "Cusco";
  position: absolute;
  top: 1.7%;
  bottom:auto;
  left: 14.8%;
  right:auto;
  
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  /* padding: 2px;  */
  background-color: rgb(219, 146, 179);
  transform:scaleY(0);
  transition: transform .4s;
  color: white;
  display: block;
  /* justify-content: center;
  align-items: center; */
  font-size: 3rem ;
}

.miembroCusco:hover:before{
  transform: scaleY(1);
}

.miembroCusco{
  grid-area:auto; 
}


.miembroCusco{
  /* position: relative; */
  cursor: pointer;
  position: relative;
  /* Que se esconda todo lo que salga de ese elemento ya que este elemento va a referenciar a un txt      */
  overflow: hidden;

}