@font-face {
    font-family: "Gloock-Regular";
    src: url("../assets/Fonts/Gloock/Gloock-Regular.ttf");
}

@font-face {
    font-family:"Inconsolata-VariableFont_wdth,wght";
    src: url("../assets/Fonts/Inconsolata/");
}
@font-face {
    font-family:"RobotoSlab-VariableFont_wght";
    src: url("../assets/Fonts/Roboto_Slab/");
}

@font-face {
    font-family:"Rubik-Italic-VariableFont_wght";
    src: url("../assets/Fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf");
}

