// Creación de Variables

$borde-10px: 10px 10px 10px 10px;

$tipografia-glock: "Gloock-Regular";

//Mapa
$colores:(
    color-headergeneral:var(--background-navy-color,#0259a1),
    color-maingeneral: rgb(126, 126, 126),
    color-footergeneral:var(--background-navy-color,#0259a1),
);